header {
  width: 100%;
  border-top: 2px solid #FA7D3C;
  border-bottom: 1px solid #F2F2F2;
  min-width: 1280px;
  background-color: #fff;
}
header .zy_headerMain {
  height: 48px;
  width: 1280px;
  margin: 0 auto;
}
header .zy_headerMain .zy_sinaLogo {
  width: 140px;
  height: 48px;
  display: block;
  float: left;
  font-size: 0;
  line-height: 0;
  background-image: url(./../images/zy_sinaLogo.jpg);
  background-repeat: no-repeat;
  background-position: 30px 9px;
}
header .zy_headerMain .zy_headerForm {
  position: relative;
  float: left;
  width: 468px;
  height: 28px;
  margin-top: 9px;
}
header .zy_headerMain .zy_headerForm .zy_headerSearch {
  border: 1px solid #CCCCCC;
  padding: 3px 38px 3px 10px;
  width: 418px;
  font-size: 12px;
  line-height: 20px;
  outline: none;
  background-color: #F2F2F5;
}
header .zy_headerMain .zy_headerForm .zy_headerSubmit {
  position: absolute;
  display: block;
  width: 16px;
  height: 16px;
  font-size: 16px;
  line-height: 16px;
  right: 11px;
  top: 7px;
  cursor: pointer;
  color: #696E78;
}
header .zy_headerMain .zy_headerForm .zy_headerSubmit:hover {
  color: #FA7D3C;
}
header .zy_headerMain .zy_headerForm .zy_headerSearchTs {
  color: #808080;
  font-size: 12px;
  line-height: 20px;
  position: absolute;
  top: 3px;
  left: 10px;
}
header .zy_headerMain .zy_headerForm .zy_headerHotSearch {
  height: 350px;
  display: none;
  width: 462px;
  border: 1px solid #CCCCCC;
  background-color: #FFFFFF;
  position: absolute;
  z-index: 10;
  top: 30px;
  padding: 2px;
}
header .zy_headerMain .zy_headerForm .zy_headerHotSearch .zy_headerHotSearchLi {
  position: relative;
  display: block;
  font-size: 12px;
  line-height: 12px;
  padding: 9px 32px 9px 13px;
  color: #4B4B4B;
  width: 418px;
}
header .zy_headerMain .zy_headerForm .zy_headerHotSearch .zy_headerHotSearchLi:hover {
  background-color: #F2F2F5;
  color: #EB7350;
}
header .zy_headerMain .zy_headerForm .zy_headerHotSearch .zy_headerHotSearchLi .zy_headerSearchTop {
  display: inline-block;
  width: 12px;
  text-align: center;
  margin-right: 5px;
  font-size: 10px;
  line-height: 12px;
  border-radius: 50%;
  background-color: #696E78;
  color: #fff;
}
header .zy_headerMain .zy_headerForm .zy_headerHotSearch .zy_headerHotSearchLi .zy_headerSearchTop1 {
  background-color: #DF3E3E;
}
header .zy_headerMain .zy_headerForm .zy_headerHotSearch .zy_headerHotSearchLi .zy_headerSearchTop2 {
  background-color: #FA7D3C;
}
header .zy_headerMain .zy_headerForm .zy_headerHotSearch .zy_headerHotSearchLi .zy_headerSearchBj {
  font-size: 12px;
  line-height: 16px;
  display: block;
  width: 16px;
  border-radius: 2px;
  color: #fff;
  text-align: center;
  position: absolute;
  right: 12px;
  top: 6px;
}
header .zy_headerMain .zy_headerForm .zy_headerHotSearch .zy_headerHotSearchLi .zy_headerHotBj {
  background-color: #FF9508;
}
header .zy_headerMain .zy_headerForm .zy_headerHotSearch .zy_headerHotSearchLi .zy_headerNewBj {
  background-color: #FF3D57;
}
header .zy_headerMain .zy_headerForm .zy_headerHotSearch .zy_headerHotSearchLiMore {
  color: #FA7D3C;
}
header .zy_headerMain .zy_headerForm .zy_headerHotSearch .zy_headerHotSearchLiMore:hover {
  background-color: #F2F2F5;
  color: #EB7350;
}
header .zy_headerMain .zy_headerForm .zy_headerSearchTj {
  display: none;
  width: 462px;
  border: 1px solid #CCCCCC;
  background-color: #FFFFFF;
  position: absolute;
  z-index: 10;
  top: 30px;
  padding: 2px;
}
header .zy_headerMain .zy_headerForm .zy_headerSearchTj .zy_headerSearchWbLi {
  border-bottom: 1px solid #F2F2F5;
}
header .zy_headerMain .zy_headerForm .zy_headerSearchTj .zy_headerSearchWbLi .zy_headerSearchWb {
  position: relative;
  display: block;
  font-size: 12px;
  line-height: 12px;
  padding: 9px 32px 9px 13px;
  color: #4B4B4B;
  width: 418px;
}
header .zy_headerMain .zy_headerForm .zy_headerSearchTj .zy_headerSearchWbLi .zy_headerSearchWb:hover {
  background-color: #F2F2F5;
  color: #EB7350;
}
header .zy_headerMain .zy_headerForm .zy_headerSearchTj .zy_headerSearchUserLi .zy_headerSearchUser {
  position: relative;
  display: block;
  font-size: 12px;
  line-height: 12px;
  padding: 5px 32px 5px 13px;
  color: #4B4B4B;
  width: 418px;
  height: 35px;
}
header .zy_headerMain .zy_headerForm .zy_headerSearchTj .zy_headerSearchUserLi .zy_headerSearchUser:hover {
  background-color: #F2F2F5;
}
header .zy_headerMain .zy_headerForm .zy_headerSearchTj .zy_headerSearchUserLi .zy_headerSearchUser .zy_headerSearchUserHeadImg {
  width: 30px;
  height: 30px;
  display: block;
  margin-right: 10px;
  float: left;
}
header .zy_headerMain .zy_headerForm .zy_headerSearchTj .zy_headerSearchUserLi .zy_headerSearchUser .zy_headerSearchUserID {
  float: left;
  height: 15px;
  width: 370px;
  margin-bottom: 4px;
}
header .zy_headerMain .zy_headerForm .zy_headerSearchTj .zy_headerSearchUserLi .zy_headerSearchUser .zy_headerSearchUserID .zy_headerSearchUserName {
  line-height: 15px;
  font-size: 12px;
  color: #FA7D3C;
  float: left;
}
header .zy_headerMain .zy_headerForm .zy_headerSearchTj .zy_headerSearchUserLi .zy_headerSearchUser .zy_headerSearchUserID .zy_headerSearchUserRz {
  display: inline-block;
  width: 15px;
  height: 12px;
  margin-left: 3px;
  margin-top: 1px;
  background-size: 15px 12px;
}
header .zy_headerMain .zy_headerForm .zy_headerSearchTj .zy_headerSearchUserLi .zy_headerSearchUser .zy_headerSearchUserID .zy_headerSearchUserBv {
  background-image: url(./../icon/icon_bihu62e6ymm/VL.png);
}
header .zy_headerMain .zy_headerForm .zy_headerSearchTj .zy_headerSearchUserLi .zy_headerSearchUser .zy_headerSearchUserID .zy_headerSearchUserYv {
  background-image: url(./../icon/icon_bihu62e6ymm/VH.png);
}
header .zy_headerMain .zy_headerForm .zy_headerSearchTj .zy_headerSearchUserLi .zy_headerSearchUser .zy_headerSearchUserID .zy_headerSearchUserRv {
  background-image: url(./../icon/icon_bihu62e6ymm/V_1.png);
}
header .zy_headerMain .zy_headerForm .zy_headerSearchTj .zy_headerSearchUserLi .zy_headerSearchUser .zy_headerSearchUserBc {
  height: 16px;
  width: 370px;
  float: left;
}
header .zy_headerMain .zy_headerForm .zy_headerSearchTj .zy_headerSearchUserLi .zy_headerSearchUser .zy_headerSearchUserBc .zy_headerSearchUserSex {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-size: 13px 13px;
  margin-right: 4px;
}
header .zy_headerMain .zy_headerForm .zy_headerSearchTj .zy_headerSearchUserLi .zy_headerSearchUser .zy_headerSearchUserBc .zy_headerSearchUserMan {
  background-image: url(./../icon/icon_bihu62e6ymm/man.png);
}
header .zy_headerMain .zy_headerForm .zy_headerSearchTj .zy_headerSearchUserLi .zy_headerSearchUser .zy_headerSearchUserBc .zy_headerSearchUserWoman {
  background-image: url(./../icon/icon_bihu62e6ymm/women.png);
}
header .zy_headerMain .zy_headerForm .zy_headerSearchTj .zy_headerSearchUserLi .zy_headerSearchUser .zy_headerSearchUserBc .zy_headerSearchUserFs {
  font-size: 12px;
  line-height: 16px;
  color: #8B8B8B;
}
header .zy_headerMain .zy_headerForm .zy_headerSearchTj .zy_headerSearchUserLi .zy_headerSearchUserMore {
  height: 12px;
}
header .zy_headerMain .zy_headerForm .zy_headerSearchTj .zy_headerSearchValue {
  color: #EB7350;
}
header .zy_headerMain .zy_headerNavKuai {
  width: 443px;
  height: 48px;
  float: right;
}
header .zy_headerMain .zy_headerNavKuai .zy_headerNavUl {
  margin-right: 7px;
  width: 319px;
  height: 48px;
  float: left;
  line-height: 48px;
  font-size: 14px;
  color: #333;
}
header .zy_headerMain .zy_headerNavKuai .zy_headerNavUl .zy_headerNavLi {
  padding: 0 13px;
}
header .zy_headerMain .zy_headerNavKuai .zy_headerNavUl .zy_headerNavLi .zy_headerNavIc {
  width: 22px;
  font-weight: bold;
  display: inline-block;
  color: #696E78;
}
header .zy_headerMain .zy_headerNavKuai .zy_headerNavUl .zy_headerNavLi:hover .zy_headerNavIc, header .zy_headerMain .zy_headerNavKuai .zy_headerNavUl .zy_headerNavLi:hover .zy_headerNav {
  color: #FA7D3C;
}
header .zy_headerMain .zy_headerNavKuai .zy_headerLogin {
  width: 117px;
  height: 48px;
  float: left;
  line-height: 48px;
  font-size: 14px;
}
header .zy_headerMain .zy_headerNavKuai .zy_headerLogin .zy_headerJoin {
  padding: 0 12px;
  line-height: 14px;
  color: #333333;
  border-right: 1px solid #D9D9D9;
}
header .zy_headerMain .zy_headerNavKuai .zy_headerLogin .zy_headerJoin:hover {
  color: #EB7350;
}
header .zy_headerMain .zy_headerNavKuai .zy_headerLogin .zy_headerEnter {
  padding: 0 12px;
  color: #333333;
}
header .zy_headerMain .zy_headerNavKuai .zy_headerLogin .zy_headerEnter:hover {
  color: #EB7350;
}

/*# sourceMappingURL=zy_header.css.map */
