<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>微博-随时随地发现新鲜事</title>
<link rel="stylesheet" href="./../static/css/reset.css">
<link rel="stylesheet" href="./../static/css/zy_header.css">
<link rel="stylesheet" href="./../static/css/zy_main.css">
<link rel="stylesheet" href="./../static/css/zy_footer.css">
<link rel="stylesheet" href="./../static/css/swiper.min.css">
<link rel="stylesheet" href="./../static/icon/download/font_a1qavpxljia/iconfont.css">
</head>
<body class="">
<header>
    <section class="zy_headerMain">
        <!-- 头部logo -->
        <a href="./index.html" class="zy_sinaLogo"></a>
        <!-- 头部search -->
        <div class="zy_headerForm">
            <!-- 输入框 -->
            <input type="text" name="zy_headerSearch" id="zy_headerSearch" class="zy_headerSearch" placeholder="">
            <!-- 搜索按钮 -->
            <a class="zy_headerSubmit iconfont">&#xe662;</a>
            <!-- 搜索框提示词 -->
            <span class="zy_headerSearchTs">大家都在搜：我和中国的一瞬间</span>
            <!-- 热搜 -->
            <div class="zy_headerHotSearch">
                <p class="zy_headerHotSearchUl"></p>
            </div>
            <!-- 联想输入推荐 -->
            <div class="zy_headerSearchTj">
                <ul class="zy_headerSearchTjUl">
                    <!-- 推荐微博 -->
                    <li class="zy_headerSearchWbLi">
                        <!-- 推荐微博更多 -->
                        <a href="" class="zy_headerSearchWb zy_headerSearchWbMore">搜索“<span class="zy_headerSearchValue">二哈</span>”相关微博</a>
                        <!-- 推荐微博 -->
                        <a href="" class="zy_headerSearchWb">二哈</a>
                        <a href="" class="zy_headerSearchWb">二哈拆家</a>
                        <a href="" class="zy_headerSearchWb">二哈一百种煮法</a>
                        <a href="" class="zy_headerSearchWb">二哈怎么吃好</a>
                    </li>
                    <!-- 推荐用户 -->
                    <li class="zy_headerSearchUserLi">
                        <!-- 推荐用户更多 -->
                        <a href="" class="zy_headerSearchUser zy_headerSearchUserMore">搜索“<span class="zy_headerSearchValue">二哈</span>”相关用户»</a>
                        <!-- 推荐用户 -->
                        <a href="" class="zy_headerSearchUser">
                            <!-- 头像 -->
                            <img src="./../static/images/zy_sinaUserHeadImg1.jpg" alt="" class="zy_headerSearchUserHeadImg">
                            <!-- 用户名 + V字认证 -->
                            <h5 class="zy_headerSearchUserID"><span class="zy_headerSearchUserName">二哈哈</span><i class="zy_headerSearchUserRz zy_headerSearchUserBv"></i></h5>
                            <!-- 性别 + 粉丝数量 -->
                            <p class="zy_headerSearchUserBc"><i class="zy_headerSearchUserSex zy_headerSearchUserMan"></i><span class="zy_headerSearchUserFs">粉丝：31563</span></p>
                        </a>
                        <a href="" class="zy_headerSearchUser">
                            <img src="./../static/images/zy_sinaUserHeadImg2.jpg" alt="" class="zy_headerSearchUserHeadImg">
                            <h5 class="zy_headerSearchUserID"><span class="zy_headerSearchUserName">二哈走丢了</span><i class="zy_headerSearchUserRz zy_headerSearchUserRv"></i></h5>
                            <p class="zy_headerSearchUserBc"><i class="zy_headerSearchUserSex zy_headerSearchUserWoman"></i><span class="zy_headerSearchUserFs">粉丝：3</span></p>
                        </a>
                        <a href="" class="zy_headerSearchUser">
                            <img src="./../static/images/zy_sinaUserHeadImg3.jpg" alt="" class="zy_headerSearchUserHeadImg">
                            <h5 class="zy_headerSearchUserID"><span class="zy_headerSearchUserName">二哈最可爱</span><i class="zy_headerSearchUserRz zy_headerSearchUserYv"></i></h5>
                            <p class="zy_headerSearchUserBc"><i class="zy_headerSearchUserSex zy_headerSearchUserMan"></i><span class="zy_headerSearchUserFs">粉丝：2222</span></p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 头部导航栏 -->
        <nav class="zy_headerNavKuai">
            <!-- 导航 -->
            <p class="zy_headerNavUl">
                <!-- 导航标记 + 导航内容 -->
                <a href="" class="zy_headerNavLi"><i class="zy_headerNavIc iconfont">&#xe616;</i><span class="zy_headerNav">首页</span></a>
                <a href="" class="zy_headerNavLi"><i class="zy_headerNavIc iconfont">&#xe7c3;</i><span class="zy_headerNav">视频</span></a>
                <a href="" class="zy_headerNavLi"><i class="zy_headerNavIc iconfont">&#xe609;</i><span class="zy_headerNav">发现</span></a>
                <a href="" class="zy_headerNavLi"><i class="zy_headerNavIc iconfont">&#xe67e;</i><span class="zy_headerNav">游戏</span></a>
            </p>
            <!-- 登入注册 -->
            <p class="zy_headerLogin">
                <a href="" class="zy_headerJoin">注册</a>
                <a href="" class="zy_headerEnter">登入</a>
            </p>
        </nav>
    </section>

</header>
<main class="zy_tx">
    <!-- main左侧导航栏 -->
    <nav class="zy_mainNav">
        <a href="#" class="zy_mainNavA zy_mainNavAActive">热门</a>
        <a href="#" class="zy_mainNavA">头条</a>
        <a href="#" class="zy_mainNavA">视频</a>
        <a href="#" class="zy_mainNavA">榜单</a>
        <a href="#" class="zy_mainNavA">搞笑</a>
        <a href="#" class="zy_mainNavA">社会</a>
        <a href="#" class="zy_mainNavA">时尚</a>
        <a href="#" class="zy_mainNavA">电影</a>
        <a href="#" class="zy_mainNavA">美女</a>
        <a href="#" class="zy_mainNavA">体育</a>
        <a href="#" class="zy_mainNavA">动漫</a>
        
    </nav>
    <!-- 中心区 -->
    <section class="zy_mainMain">
        <!-- banner区 -->
        <div class="zy_mainBannerKuai swiper-container">
            <!-- banner滑动区 -->
            <div class="zy_mainBannerContLang swiper-wrapper">
                <!-- banner块 -->
                <div class="zy_mainBannerCont1 swiper-slide zy_mainBannerCont">
                    <!-- banner图1 -->
                    <a class="zy_bannerContImgKuan1" style="background-image: url(./../static/images/zy_banner1Cont1.jpg);">
                        <!-- 大banner的标题 -->
                       <span class="zy_bannerContText2">
                            <!-- 标题内容 -->
                            <b class="zy_bannerContTextTitle">#猪肉价格降了#</b>
                            <!-- 注释 -->
                            <b class="zy_bannerContTextBz"><i class="zy_bannerContTextSpeek">2.5万讨论</i><i class="zy_bannerContTextRead">1.6亿阅读</i> </b>
                       </span>
                    </a>
                    <!-- banner图2 -->
                    <a class="zy_bannerContImgKuan2" style="background-image: url(./../static/images/zy_banner1Cont2.jpg);">
                       <span class="zy_bannerCOntText2">#国庆假期或有近8亿人次出游#</span>
                    </a>
                    <!-- banner图3 -->
                    <a class="zy_bannerContImgKuan3 zy_bannerContImgKuan2" style="background-image: url(./../static/images/zy_banner1Cont3.jpg);">
                        <span class="zy_bannerCOntText2">#tfboys演唱会#</span>
                    </a>
                </div>
                <div class=" swiper-slide zy_mainBannerCont">
                    <!-- banner图1 -->
                    <a class="zy_bannerContImgKuan1" style="background-image: url(./../static/images/zy_banner1Cont1.jpg);">
                        <!-- 大banner的标题 -->
                       <span class="zy_bannerContText2">
                            <!-- 标题内容 -->
                            <b class="zy_bannerContTextTitle">#猪肉价格降了#</b>
                            <!-- 注释 -->
                            <b class="zy_bannerContTextBz"><i class="zy_bannerContTextSpeek">2.5万讨论</i><i class="zy_bannerContTextRead">1.6亿阅读</i> </b>
                       </span>
                    </a>
                    <!-- banner图2 -->
                    <a class="zy_bannerContImgKuan2" style="background-image: url(./../static/images/zy_banner1Cont2.jpg);">
                       <span class="zy_bannerCOntText2">#国庆假期或有近8亿人次出游#</span>
                    </a>
                    <!-- banner图3 -->
                    <a class="zy_bannerContImgKuan3 zy_bannerContImgKuan2" style="background-image: url(./../static/images/zy_banner1Cont3.jpg);">
                        <span class="zy_bannerCOntText2">#tfboys演唱会#</span>
                    </a>
                </div>
                <div class=" swiper-slide zy_mainBannerCont">
                    <!-- banner图1 -->
                    <a class="zy_bannerContImgKuan1" style="background-image: url(./../static/images/zy_banner1Cont1.jpg);">
                        <!-- 大banner的标题 -->
                       <span class="zy_bannerContText2">
                            <!-- 标题内容 -->
                            <b class="zy_bannerContTextTitle">#猪肉价格降了#</b>
                            <!-- 注释 -->
                            <b class="zy_bannerContTextBz"><i class="zy_bannerContTextSpeek">2.5万讨论</i><i class="zy_bannerContTextRead">1.6亿阅读</i> </b>
                       </span>
                    </a>
                    <!-- banner图2 -->
                    <a class="zy_bannerContImgKuan2" style="background-image: url(./../static/images/zy_banner1Cont2.jpg);">
                       <span class="zy_bannerCOntText2">#国庆假期或有近8亿人次出游#</span>
                    </a>
                    <!-- banner图3 -->
                    <a class="zy_bannerContImgKuan3 zy_bannerContImgKuan2" style="background-image: url(./../static/images/zy_banner1Cont3.jpg);">
                        <span class="zy_bannerCOntText2">#tfboys演唱会#</span>
                    </a>
                </div>
                <div class=" swiper-slide zy_mainBannerCont">
                    <!-- banner图1 -->
                    <a class="zy_bannerContImgKuan1" style="background-image: url(./../static/images/zy_banner1Cont1.jpg);">
                        <!-- 大banner的标题 -->
                       <span class="zy_bannerContText2">
                            <!-- 标题内容 -->
                            <b class="zy_bannerContTextTitle">#猪肉价格降了#</b>
                            <!-- 注释 -->
                            <b class="zy_bannerContTextBz"><i class="zy_bannerContTextSpeek">2.5万讨论</i><i class="zy_bannerContTextRead">1.6亿阅读</i> </b>
                       </span>
                    </a>
                    <!-- banner图2 -->
                    <a class="zy_bannerContImgKuan2" style="background-image: url(./../static/images/zy_banner1Cont2.jpg);">
                       <span class="zy_bannerCOntText2">#国庆假期或有近8亿人次出游#</span>
                    </a>
                    <!-- banner图3 -->
                    <a class="zy_bannerContImgKuan3 zy_bannerContImgKuan2" style="background-image: url(./../static/images/zy_banner1Cont3.jpg);">
                        <span class="zy_bannerCOntText2">#tfboys演唱会#</span>
                    </a>
                </div>
                <div class=" swiper-slide zy_mainBannerCont">
                    <!-- banner图1 -->
                    <a class="zy_bannerContImgKuan1" style="background-image: url(./../static/images/zy_banner1Cont1.jpg);">
                        <!-- 大banner的标题 -->
                       <span class="zy_bannerContText2">
                            <!-- 标题内容 -->
                            <b class="zy_bannerContTextTitle">#猪肉价格降了#</b>
                            <!-- 注释 -->
                            <b class="zy_bannerContTextBz"><i class="zy_bannerContTextSpeek">2.5万讨论</i><i class="zy_bannerContTextRead">1.6亿阅读</i> </b>
                       </span>
                    </a>
                    <!-- banner图2 -->
                    <a class="zy_bannerContImgKuan2" style="background-image: url(./../static/images/zy_banner1Cont2.jpg);">
                       <span class="zy_bannerCOntText2">#国庆假期或有近8亿人次出游#</span>
                    </a>
                    <!-- banner图3 -->
                    <a class="zy_bannerContImgKuan3 zy_bannerContImgKuan2" style="background-image: url(./../static/images/zy_banner1Cont3.jpg);">
                        <span class="zy_bannerCOntText2">#tfboys演唱会#</span>
                    </a>
                </div>
                <div class=" swiper-slide zy_mainBannerCont">
                    <!-- banner图1 -->
                    <a class="zy_bannerContImgKuan1" style="background-image: url(./../static/images/zy_banner1Cont1.jpg);">
                        <!-- 大banner的标题 -->
                       <span class="zy_bannerContText2">
                            <!-- 标题内容 -->
                            <b class="zy_bannerContTextTitle">#猪肉价格降了#</b>
                            <!-- 注释 -->
                            <b class="zy_bannerContTextBz"><i class="zy_bannerContTextSpeek">2.5万讨论</i><i class="zy_bannerContTextRead">1.6亿阅读</i> </b>
                       </span>
                    </a>
                    <!-- banner图2 -->
                    <a class="zy_bannerContImgKuan2" style="background-image: url(./../static/images/zy_banner1Cont2.jpg);">
                       <span class="zy_bannerCOntText2">#国庆假期或有近8亿人次出游#</span>
                    </a>
                    <!-- banner图3 -->
                    <a class="zy_bannerContImgKuan3 zy_bannerContImgKuan2" style="background-image: url(./../static/images/zy_banner1Cont3.jpg);">
                        <span class="zy_bannerCOntText2">#tfboys演唱会#</span>
                    </a>
                </div>
                <div class=" swiper-slide zy_mainBannerCont">
                    <!-- banner图1 -->
                    <a class="zy_bannerContImgKuan1" style="background-image: url(./../static/images/zy_banner1Cont1.jpg);">
                        <!-- 大banner的标题 -->
                       <span class="zy_bannerContText2">
                            <!-- 标题内容 -->
                            <b class="zy_bannerContTextTitle">#猪肉价格降了#</b>
                            <!-- 注释 -->
                            <b class="zy_bannerContTextBz"><i class="zy_bannerContTextSpeek">2.5万讨论</i><i class="zy_bannerContTextRead">1.6亿阅读</i> </b>
                       </span>
                    </a>
                    <!-- banner图2 -->
                    <a class="zy_bannerContImgKuan2" style="background-image: url(./../static/images/zy_banner1Cont2.jpg);">
                       <span class="zy_bannerCOntText2">#国庆假期或有近8亿人次出游#</span>
                    </a>
                    <!-- banner图3 -->
                    <a class="zy_bannerContImgKuan3 zy_bannerContImgKuan2" style="background-image: url(./../static/images/zy_banner1Cont3.jpg);">
                        <span class="zy_bannerCOntText2">#tfboys演唱会#</span>
                    </a>
                </div>
                <div class=" swiper-slide zy_mainBannerCont">
                    <!-- banner图1 -->
                    <a class="zy_bannerContImgKuan1" style="background-image: url(./../static/images/zy_banner1Cont1.jpg);">
                        <!-- 大banner的标题 -->
                       <span class="zy_bannerContText2">
                            <!-- 标题内容 -->
                            <b class="zy_bannerContTextTitle">#猪肉价格降了#</b>
                            <!-- 注释 -->
                            <b class="zy_bannerContTextBz"><i class="zy_bannerContTextSpeek">2.5万讨论</i><i class="zy_bannerContTextRead">1.6亿阅读</i> </b>
                       </span>
                    </a>
                    <!-- banner图2 -->
                    <a class="zy_bannerContImgKuan2" style="background-image: url(./../static/images/zy_banner1Cont2.jpg);">
                       <span class="zy_bannerCOntText2">#国庆假期或有近8亿人次出游#</span>
                    </a>
                    <!-- banner图3 -->
                    <a class="zy_bannerContImgKuan3 zy_bannerContImgKuan2" style="background-image: url(./../static/images/zy_banner1Cont3.jpg);">
                        <span class="zy_bannerCOntText2">#tfboys演唱会#</span>
                    </a>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <!-- 中心内容 -->
        <div class="zy_mainCont">
            <!-- 未读消息提示 -->
            <div class="zy_mainNewCont">您有未读内容，点击查看<span class="iconfont icon-cha zy_mainNewX"></span></div>
            <!-- 单图微博 -->
            <div class="zy_mMImgWbBox">
                <div class="zy_mMImgImgBox" style="background-image: url(./../static/images/zy_mAsdHotImg.jpg)"></div>
                <h5 class="zy_mMImgWbH5"><a href="">#人民评说#</a>：莫雷，莫用“雷语”触碰中国底线】美国NBA休斯顿火箭队总经理莫雷发推称：Fight for freedom, Stand with Hongkong（为自由而战，和香港在一起）。这是香港极端暴力分子的口号，如此表态意味着什么？答案不言而喻。莫雷的立场是对中国球迷的伤害，也是对中国人民的冒犯。中国篮协已作出 ​​​​...</h5>
                <p class="zy_mMImgWbCont">
                    <img src="./../static/images/zy_banner1Cont2.jpg" alt="用户头像" class="zy_mMImgWbUserImg">
                    <a class="zy_mMImgWbUserId">人民日报</a>
                    <span class="zy_mMImgWbTime">今天 12:40</span>
                    <!-- 点赞 -->
                    <span class="zy_mMImgWbDz"><i class="iconfont icon-zan"></i>10203</span>
                    <span class="zy_mMImgWbPl"><i class="iconfont icon-pinglun"></i>1020</span>
                    <span class="zy_mMImgWbZf"><i class="iconfont icon-zhuanfa"></i>23</span>
                </p>
            </div>
            <!-- 多图微博 -->
            <div class="zy_mMImgsWbBox">
                <h5 class="zy_mMImgsH5"><a href="">#人民评说#</a>：莫雷，莫用“雷语”触碰中国底线】美国NBA休斯顿火箭队总经理莫雷发推称：Fight for freedom, Stand with Hongkong（为自由而战，和香港在一起）。这是香港极端暴力分子的口号，如此表态意味着什么？答案不言而喻。莫雷的立场是对中国球迷的伤害，也是对中国人民的冒犯。中国篮协已作出 ​​​​...</h5>
                <div class="zy_mMImgsBox">
                    <img src="./../static/images/zy_banner1Cont2.jpg" alt="内容图">
                    <img src="./../static/images/zy_banner1Cont2.jpg" alt="内容图">
                    <img src="./../static/images/zy_banner1Cont2.jpg" alt="内容图">
                    <img class="zy_mMImgsLast" src="./../static/images/zy_banner1Cont2.jpg" alt="内容图">
                </div>
                <p class="zy_mMImgsWbCont">
                    <img src="./../static/images/zy_banner1Cont2.jpg" alt="用户头像" class="zy_mMImgsWbUserImg">
                    <a class="zy_mMImgsWbUserId">人民日报</a>
                    <span class="zy_mMImgsWbTime">今天 12:40</span>
                    <!-- 点赞 -->
                    <span class="zy_mMImgsWbDz"><i class="iconfont icon-zan"></i>10203</span>
                    <span class="zy_mMImgsWbPl"><i class="iconfont icon-pinglun"></i>1020</span>
                    <span class="zy_mMImgsWbZf"><i class="iconfont icon-zhuanfa"></i>23</span>
                </p>
            </div>
            <!-- 加载更多 -->
            <div class="zy_mLoading"><span class="iconfont icon-loading"></span>正在加载更多，请稍后...</div>
        </div>
    </section>
    <!-- 边栏 -->
    <aside class="zy_mainAside">
        <!-- 登入 -->
        <section class="zy_mainAsdlogin">
            <!-- 登入主体 -->
            <div class="zy_mainAsdLoginMain">
                <!-- 登入标题 -->
                <h5 class="zy_mainLoginTitle">
                    <span class="zy_idLogin zy_loginActive">账号登入</span>
                    <span class="zy_safeLogin">安全登入</span>
                    <!-- 切换框 -->
                    <i class="zy_mainLoginTag"></i>
                </h5>
                <!-- 安全登入内容 -->
                <div class="zy_mainSafeLoginCont ">
                    <img src="./../static/images/zy_mainSafeLogin.png" alt="二维码使用演示" class="zy_mainSafeLoginImg">
                    <div class="zy_loginEWMKuan">
                        <img src="./../static/images/zy_mainSafeLoginEWM.png" alt="登入二维码" class="zy_loginEWM">
                        <span class="zy_loginEWMSpan">请用最新版微博客户端扫码</span>
                    </div>
                    <p class="zy_loginEWMTip"><span>还没有微博？</span><a href="">立即注册!</a></p>
                </div>
                <!-- 账号登入内容 -->
                <div class="zy_mainIDLoginCont">
                    <!-- 账号登入表单内容 -->
                    <form action="" class="zy_mLoginIDCont">
                        <!-- 用户名 -->
                        <div class="zy_mLoginUserBox"><i class="iconfont icon-user"></i><input type="text" name="zy_mLoginUser" id="zy_mLoginUser" class="zy_mLoginUser" placeholder="邮箱/会员账号/手机号"></div>
                        <!-- 密码 -->
                        <div class="zy_mLoginPwdBox"><i class="iconfont icon-Group-"></i><input type="password" name="zy_mLoginPwd" id="zy_mLoginPwd" class="zy_mLoginPwd" placeholder="请输入密码"></div>
                        <!-- 记住密码/忘记密码 -->
                        <div class="zy_mLoginRemFogBox">
                            <input type="checkbox" value="1" name="zy_mLoginRemb" id="zy_mLoginRemb" class="zy_mLoginRemb"><label for="zy_mLoginRemb" class="zy_mLoginRembText">记住我</label>
                            <a href="" class="zy_mLoginFoget">忘记密码</a>
                        </div>
                        <!-- 提交按钮 -->
                        <input type="submit" value="登录" class="zy_mLoginSub">
                    </form>
                    <!-- 提示注册 -->
                    <p class="zy_loginIDTip"><span>还没有微博？</span><a href="">立即注册!</a></p>
                    <!-- 其他登入方式 -->
                    <p class="zy_mIDLoginMore"><span>其它登录：</span><a href="" class="iconfont icon-taobao2"></a><a href="" class="iconfont icon-qq-copy"></a><a href="" class="iconfont icon-zhongguoyidong"></a><a href="" class="iconfont icon-QQkongjian"></a><a href="" class="iconfont icon-anquanweishi"></a></p>
                </div>
            </div>
        </section>
        <!-- 微博热门话题 -->
        <section class="zy_mAsdHotTitleBox">
            <h4 class="zy_mAsdHotTitle zy_mAsdHotAjax">微博热门话题</h4>
            <!-- <a href="" class="zy_mAsdHotContBox">
                <img src="./../static/images/zy_mAsdHotImg.jpg" alt="话题图标" class="zy_mAsdHotImg">
                <h6 class="zy_mAsdHotContTitle">#领航强军新时代#</h6>
                <p class="zy_mAsdHotContCont"><span>2.8亿阅读</span><span>9.1万讨论</span></p>
            </a> -->
            <a href="" class="zy_mAsdHotTitleMore"><span>查看更多</span><i class="iconfont icon-arrow-right-copy-copy-copy"></i></a>
        </section>
        <!-- 微博实时热点 -->
        <section class="zy_mAsdHotTitleBox">
            <h4 class="zy_mAsdHotTitle zy_mAsdNewAjax">微博实时热点</h4>
            <!-- <a href="" class="zy_mAsdHotContBox">
                <img src="./../static/images/zy_mAsdHotImg.jpg" alt="话题图标" class="zy_mAsdHotImg">
                <h6 class="zy_mAsdHotContTitle">#领航强军新时代#</h6>
                <p class="zy_mAsdHotContCont zy_mAsdNewContCont">#李现与女排姑娘合影#，突然现哥就特别小鸟依人了[doge] 追星成功的现哥，小编好羡慕。请问，你是羡慕现哥还是羡慕女排姑娘[笑而不语] ​​​​</p>
            </a> -->
            <a href="" class="zy_mAsdHotTitleMore"><span>查看更多</span><i class="iconfont icon-arrow-right-copy-copy-copy"></i></a>
        </section>
        <!-- 微博找人 -->
        <section class="zy_mAsdFindManBox zy_tx">
            <h4 class="zy_mAsdHotTitle">微博找人</h4>
            <!-- 找人分类版块 -->
            <div class="zy_mAsdFindBox zy_tx">
                <h6 class="zy_mAsdFindTitle">名人</h6>
                <a href="" class="zy_mAsdFindA"><i class="iconfont icon-QQkongjian"></i><span>明星</span></a>
                <a href="" class="zy_mAsdFindA"><i class="iconfont icon-001"></i><span>商界</span></a>
                <a href="" class="zy_mAsdFindA"><i class="iconfont icon-yanjiangzhe"></i><span>媒体精英</span></a>
                <a href="" class="zy_mAsdFindA"><i class="iconfont icon-shu"></i><span>作家</span></a>
                <a href="" class="zy_mAsdFindA"><i class="iconfont icon-tousu"></i><span>政府官员</span></a>
            </div>
            <div class="zy_mAsdFindBox zy_tx">
                <h6 class="zy_mAsdFindTitle">专家</h6>
                <a href="" class="zy_mAsdFindA"><i class="iconfont icon-svg07"></i><span>医疗</span></a>
                <a href="" class="zy_mAsdFindA"><i class="iconfont icon-yuer"></i><span>育儿</span></a>
                <a href="" class="zy_mAsdFindA"><i class="iconfont icon-diqiu"></i><span>IT互联网</span></a>
                <a href="" class="zy_mAsdFindA"><i class="iconfont icon-erji"></i><span>电台</span></a>
                <a href="" class="zy_mAsdFindA"><i class="iconfont icon-caijing"></i><span>财经</span></a>
                <a href="" class="zy_mAsdFindA"><i class="iconfont icon-bi"></i><span>教育</span></a>
                <a href="" class="zy_mAsdFindA"><i class="iconfont icon-falv"></i><span>法律</span></a>
                <a href="" class="zy_mAsdFindA"><i class="iconfont icon-meizhuang"></i><span>美妆</span></a>
                <a href="" class="zy_mAsdFindA"><i class="iconfont icon-huabi"></i><span>艺术</span></a>
                <a href="" class="zy_mAsdFindA"><i class="iconfont icon-sheji1-copy"></i><span>设计</span></a>
                <a href="" class="zy_mAsdFindA"><i class="iconfont icon-shouye"></i><span>房产家装</span></a>
                <a href="" class="zy_mAsdFindA"><i class="iconfont icon-qiche"></i><span>汽车</span></a>
                <a href="" class="zy_mAsdFindA"><i class="iconfont icon-dingweiweizhi"></i><span>交通</span></a>
                <a href="" class="zy_mAsdFindA"><i class="iconfont icon-icon-test"></i><span>职业招聘</span></a>
                <a href="" class="zy_mAsdFindA"><i class="iconfont icon-hunqingyonghua-"></i><span>婚庆</span></a>
                <a href="" class="zy_mAsdFindA"><i class="iconfont icon-zongjiao"></i><span>宗教</span></a>
            </div>
            <div class="zy_mAsdFindBox zy_tx">
                <h6 class="zy_mAsdFindTitle">兴趣</h6>
                <a href="" class="zy_mAsdFindA"><i class="iconfont icon-shishangbaobeidouicon"></i><span>时尚</span></a>
                <a href="" class="zy_mAsdFindA"><i class="iconfont icon-meinv"></i><span>美妆</span></a>
                <a href="" class="zy_mAsdFindA"><i class="iconfont icon-dianying"></i><span>电影</span></a>
                <a href="" class="zy_mAsdFindA"><i class="iconfont icon-dianshiju"></i><span>电视剧</span></a>
                <a href="" class="zy_mAsdFindA"><i class="iconfont icon-yinyue"></i><span>音乐</span></a>
                <a href="" class="zy_mAsdFindA"><i class="iconfont icon-dongman"></i><span>动漫</span></a>
                <a href="" class="zy_mAsdFindA"><i class="iconfont icon-youxi"></i><span>游戏</span></a>
                <a href="" class="zy_mAsdFindA"><i class="iconfont icon-xingzuotianchengzuo"></i><span>星座</span></a>
                <a href="" class="zy_mAsdFindA"><i class="iconfont icon-gaoxiaolei"></i><span>搞笑</span></a>
                <a href="" class="zy_mAsdFindA"><i class="iconfont icon-xinaixin_fuzhi"></i><span>情感两性</span></a>
                <a href="" class="zy_mAsdFindA"><i class="iconfont icon-ymq_ch"></i><span>运动健身</span></a>
                <a href="" class="zy_mAsdFindA"><i class="iconfont icon-lanqiu"></i><span>体育</span></a>
                <a href="" class="zy_mAsdFindA"><i class="iconfont icon-mao"></i><span>萌宠</span></a>
                <a href="" class="zy_mAsdFindA"><i class="iconfont icon-sheji1-copy"></i><span>美食</span></a>
                <a href="" class="zy_mAsdFindA"><i class="iconfont icon-feiji"></i><span>旅游</span></a>
                <a href="" class="zy_mAsdFindA"><i class="iconfont icon-xiangji"></i><span>摄影</span></a>
                <a href="" class="zy_mAsdFindA"><i class="iconfont icon-bi"></i><span>历史</span></a>
                <a href="" class="zy_mAsdFindA"><i class="iconfont icon-zidan"></i><span>军事</span></a>
                <a href="" class="zy_mAsdFindA"><i class="iconfont icon-hangtiantubiao-"></i><span>科学</span></a>
                <a href="" class="zy_mAsdFindA"><i class="iconfont icon-jiaojuan"></i><span>数码</span></a>
            </div>
            <div class="zy_mAsdFindBox zy_mAsdFindFamsBox zy_tx">
                <h6 class="zy_mAsdFindTitle">名人</h6>
                <a href="" class="zy_mAsdFindA"><i class="iconfont icon-CombinedShape"></i><span>政务</span></a>
                <a href="" class="zy_mAsdFindA"><i class="iconfont icon-shipinvideo-xianxing"></i><span>媒体</span></a>
            </div>
        </section>
        <!-- 投诉 -->
        <section class="zy_mAsdTouSuBox">
            <a href=""><span>DMCA投诉/Reporta</span><i class="iconfont icon-arrow-right-copy-copy-copy"></i></a>
        </section>
        <!-- 刷新和回归顶部按钮 -->
        <section class="zy_pageTopResetBtn">
            <div class="zy_pageResetBtn"><i class="iconfont icon-shuaxin"></i></div>
            <div class="zy_pageTopBtn"><i class="iconfont icon-shangjiantouxiangshangxianxing"></i></div>
        </section>
    </aside>
</main>
<!-- <footer class="zy_tx">
    <div class="zy_footerMain">
        <section class="zy_fMFriendBox">

        </section>
        <section class="zy_fMCopyBox">

        </section>
    </div>
</footer> -->


<script src="./../static/script/swiper.min.js"></script>
<script src="./../static/script/require.js" data-main="./../static/script/zy_main.js"></script>
<script>
var mySwiper = new Swiper('.swiper-container', {
    autoplay: 3000,//可选选项，自动滑动
    initialSlide :0,//设定初始化时slide的索引
    direction : 'horizontal',//Slides的滑动方向，可设置水平(horizontal)或垂直(vertical)。
    speed:300,//滑动速度，即slider自动滑动开始到结束的时间（单位ms），也是触摸滑动时释放至贴合的时间。
    loop: true,
    pagination: '.swiper-pagination',
    paginationClickable: true
});
</script>
</body>
</html>