<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Document</title>
<link rel="stylesheet" href="./../static/icon/download/font_a1qavpxljia/iconfont.css">
<link rel="stylesheet" href="./../static/css/reset.css">
<link rel="stylesheet" href="./../static/css/zy_phoneSina.css">
</head>
<body>
<!-- 头部 -->
<header class="zy_pHeaderBox">
    <!-- 头部左侧按钮 -->
    <div class="zy_pHeadLeft"><img src="./../static/images/pwalogo.417d1674.svg" alt="logo" class="zy_pIndexLogo"></div>
    <!-- 头部搜索框 -->
    <div class="zy_pHeadSearchBox">
        <div class="zy_pHeadSearchIcon"><i class="iconfont icon-sousuo"></i></div>
        <input type="text" name="zy_pHeadSearch" id="zy_pHeadSearch" class="zy_pHeadSearch" placeholder="大家都在搜：国庆假期7.82亿人次出游">
    </div>
    <!-- 头部写微博按钮 -->
    <div class="iconfont icon-bi zy_pHeadWrite"></div>
</header>
<nav class="zy_pIndexNav">
    <section class="zy_pNavUlBox">
        <ul class="zy_pNavUl">
            <li class="zy_pNavLi zy_pNavLiActive">热门</li>
            <li class="zy_pNavLi">新鲜事</li>
            <li class="zy_pNavLi">同城</li>
            <li class="zy_pNavLi">搞笑</li>
            <li class="zy_pNavLi">情感</li>
            <li class="zy_pNavLi">明星</li>
            <li class="zy_pNavLi">社会</li>
            <li class="zy_pNavLi">数码</li>
            <li class="zy_pNavLi">体育</li>
            <li class="zy_pNavLi">汽车</li>
            <li class="zy_pNavLi">电影</li>
            <li class="zy_pNavLi">游戏</li>
        </ul>
    </section>
    <div class="zy_pNavMore "><i class="iconfont icon-arrow-right-copy-copy-copy"></i></div>
</nav>
<main class="zy_indexBody">
    <div class="zy_indexGd">
        <section class="zy_pWbCont zy_tx">
            <div class="zy_pWbContHead">
                <img src="./../static/images/zy_banner1Cont2.jpg" alt="用户头像" class="zy_pWbUserImg">
                <i class="zy_pWbUserRz zy_pWbRzRv"></i>
                <div class="zy_pWbUserBox">
                    <h6 class="zy_pWbUserId">梦在奔<i class="iconfont icon-weibo"></i></h6>
                    <p class="zy_pWbUserCont">11小时前&nbsp;&nbsp;来自&nbsp;&nbsp;微博 weibo.com</p>
                </div>
                <div class="zy_pWbGz">+关注</div>
            </div>
            <p class="zy_pWbContBodyP">世上最浪漫的事，就是他的领带永远与她的时尚搭配</p>
            <div class="zy_pWbContBodyImgs zy_tx">
                <img src="./../static/images/zy_banner1Cont2.jpg" alt="微博内容图">
                <img src="./../static/images/zy_banner1Cont2.jpg" alt="微博内容图">
                <img src="./../static/images/zy_banner1Cont2.jpg" alt="微博内容图">
                <img src="./../static/images/zy_banner1Cont2.jpg" alt="微博内容图">
                <img src="./../static/images/zy_banner1Cont2.jpg" alt="微博内容图">
                <img src="./../static/images/zy_banner1Cont2.jpg" alt="微博内容图">
                <img src="./../static/images/zy_banner1Cont2.jpg" alt="微博内容图">
                <img src="./../static/images/zy_banner1Cont2.jpg" alt="微博内容图">
                <img src="./../static/images/zy_banner1Cont2.jpg" alt="微博内容图">
            </div>
            <div class="zy_pWbZtBox">
                <i class="iconfont icon-zhuanfa"></i>
                <span class="zy_pWbZtZf">1106</span>
                <i class="iconfont icon-pinglun"></i>
                <span class="zy_pWbZtPl">416</span>
                <i class="iconfont icon-zan"></i>
                <span class="zy_pWbZtDz">6420</span>
                <b class="zy_pWbZtMore">···</b>
            </div>
        </section>
    </div>
</main>



<script src="./../static/script/require.js" data-main="./../static/script/zy_mainPhone.js"></script>

</body>
</html>