<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
    /* 声明动画  @keyframes 动画名称 */
    @keyframes myAi {
        0%{
            background: red;
        }
        50%{
            background: green;
        }
        100%{
            background: blue;
        }
    }
    /* 调用动画 */
    div{
        
    }


    body{
        perspective: 20px;
    }
    div{
        background:red;
        margin:300px auto;
        width: 400px;
        height:400px;
    }
    
    </style>
</head>
<body>
    <div>sadasda </div>
</body>
</html>